* {
  border: 1px solid red !important;
}

body{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.mainClass{
  display: flex;
  text-align: center;
}

.catPhotoStyle{
  max-width: 400px;
}

.catContainer{
  width: 100%;
  margin:20px;
  text-align: center;
  float: right;
}
